@font-face {
    font-family: font_strong;
    src: url('../Roboto/Roboto-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: font_normal;
    src: url('../Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: font_black;
    src: url('../Roboto/Roboto-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: font_light;
    src: url('../Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: font_regular;
    src: url('../Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: font_strong;
}

/* Mobile  */
@media (max-width: 767px) {
    body {
        background-color: white;
        font-family: fon_strong;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    .mutilmedia-deskop {
        display: none;
    }

    .header-Tablet, .content-Tablet {
        display: none;
    }

    .header-Deskop {
        display: none;
    }

    .list-for-you-deskop {
        display: none;
    }

    .content-Deskop {
        display: none;
    }

    .container-1 {
        display: flex;
    }

    .header-Mobile {
        height: 3em;
        width: 100%;
        background-color: rgb(255, 255, 255);
    }

    .header-Mobile .logo {
        width: 15em;
        height: 3em;
        /* text-align: center; */
        float: left;
    }

    .header-Mobile .logo img {
        width: 120px;
        padding: 0.5em;
    }

    .header-Mobile .infor-User {
        height: 3em;
        float: right;
        text-align: center;
    }

    .header-Mobile .infor-User img {
        width: 28px;
        height: 28px;
    }

    .header-Mobile .infor-User li {
        list-style-type: none;
        line-height: 3em;
        float: left;
        padding: 0.4em;
        height: 3em;
    }

    .container-2 {
        font-family: font_strong;
    }

    .hot-News a {
        text-decoration: none;
        color: black;
    }

    .hot-News a:hover {
        color: blue;
    }

    .hot-News ul li {
        list-style-type: none;
        top: 0px;
    }

    .news .list-News {
        display: flex;
        width: 100%;
    }

    .news .list-News .images {
        max-width: 35%;
        float: left;
    }

    .news .list-News .tittle {
        float: right;
        max-width: 65%;
        height: 100%;
        padding: 0.3em;
    }

    .news .list-News .tittle a {
        text-decoration: none;
        color: black;
    }

    .news .list-News .tittle a:hover {
        color: blue;
    }

    .news .slideshow-container img {
        width: 100%;
        margin: 0px;
    }

    .news .siler-Images {
        height: 100%;
        width: 100%;
    }

    .slideshow-container {
        width: 100%;
        position: relative;
    }

    .mySlides {
        display: none;
    }

    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .prev {
        left: 0;
        border-radius: 3px 0 0 3px;
    }

    .prev:hover, .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .text {
        color: #f2f2f2;
        font-size: 15px;
        /* padding: 8px 12px; */
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
        background-color: black;
    }

    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    .dot {
        cursor: pointer;
        height: 2em;
        width: 2em;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
        background-color: #717171;
    }

    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
        from {
            opacity: .4
        }
        to {
            opacity: 1
        }
    }
    @keyframes fade {
        from {
            opacity: .4
        }
        to {
            opacity: 1
        }
    }
    .container-3 {
        background-color: rgb(235, 235, 240);
        width: 100%;
        height: 100%;
        float: left;
    }

    .container-3 #menu {
        width: 100%;
        height: 100%;
    }

    .container-3 #menu h3 {
        font-family: font_strong;
        text-align: center;
    }

    .container-3 #menuLeft {
        float: left;
        width: 50%;
        text-align: center;
        font-family: font_normal;
    }

    .container-3 #menuRight {
        float: right;
        width: 50%;
        text-align: center;
        font-family: font_normal;
    }

    .categories {
        padding: 0.1em;
    }

    #series {
        width: 100%;
        float: left;
    }

    #series .seriesLeft {
        width: 50%;
        float: left;
        text-align: center;
    }

    #series .seriesRight {
        width: 50%;
        float: left;
        text-align: center;
    }

    #series .serie {
        font-family: font_black;
        padding: 0.1em;
    }
}

/* Desktop */
@media only screen and (min-width: 1170px) {
    body {
        background-color: white;
        font-family: fon_strong;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    .header-Tablet {
        display: none;
    }

    .content-mobile, .content-Tablet {
        display: none;
    }

    .header-Mobile {
        display: none;
    }

    .menu-Mobile {
        display: none;
    }

    .header-Deskop .header-Left {
        width: 12%;
        float: left;
    }

    .header-Deskop .header-Right {
        width: 12%;
        float: left;
    }

    .header-Deskop {
        height: 15%;
        display: flex;
    }

    .header-Deskop .header {
        width: 76%;
        height: 100%;
        clear: both;
        display: flex;
    }

    .header-Deskop .header .logo {
        width: 11%;
    }

    .header-Deskop .header .logo img {
        width: 100%;
        height: 100%;
    }

    .header-Deskop .header .menu {
        float: left;
        width: 90%;
        height: 100%;

    }

    .header-Deskop .menu ul {
        height: 100%;
        width: 100%;
        margin-left: 0.7em;
        text-align: center;
        font-family: font_normal;
        padding: 0;
    }

    .header-Deskop .menu ul li {
        list-style-type: none;
        padding-left: 0.8em;
        height: 15%;
        text-align: center;
        font-size: 100%;
        float: left;
        line-height: 1em;
    }

    .header-Deskop .menu ul li a {
        text-decoration: none;
        color: black;
    }

    .header-Deskop .menu ul li:hover {
        border-bottom: 2px solid #27baf4;
    }

    .header-Deskop .menu ul li a:hover {
        color: #27baf4;
    }

    .header-Deskop .header .infor {
        width: 10%;
        height: 100%;
        margin-top: 0.7em;
        float: left;
        display: flex;
    }

    .header-Deskop .header .infor img {
        width: 30%;
        padding-right: 1em;
        height: 100%;
        float: left;
    }

    .content-Deskop {
        width: 100%;
        display: flex;
    }

    .content-Deskop .content-Left {
        width: 12%;
        float: left;
    }

    .content-Deskop .content {
        width: 76%;
        float: left;
        background-color: white;
    }

    .content-Deskop .content-Right {
        width: 12%;
        float: left;
    }

    .content-Deskop .content .content-main {
        width: 100%;
        height: 100%;
        clear: left;
    }

    .content-Deskop .content .content-main .content-main-left {
        width: 30%;
        float: left;
    }

    .content-Deskop .content .content-main .content-main-between {
        width: 41%;
        float: left;
    }

    .content-Deskop .content .content-main .content-main-right {
        width: 27%;
        height: 200px;
        /* background-color: rgb(29, 16, 29); */
        float: right;
    }

    .content-Deskop .content .content-main .content-main-left .post {
        width: 100%;
        height: 100%;
        padding: 0.25em;
        clear: both;
        font-family: font_normal;
    }

    .content-Deskop .content .content-main .content-main-left .post .image {
        width: 38%;
        height: 100%;
        float: left;
    }

    .content-Deskop .content .content-main .content-main-left .tittle {
        width: 60%;
        height: 100%;
        float: left;
        padding-left: 0.3em;
    }

    .content-Deskop .content .content-main .content-main-left .tittle p {
        margin: 0;
    }

    .content-Deskop .content .content-main .content-main-left .tittle p a {
        text-decoration: none;
        color: black;
    }

    .content-Deskop .content .content-main .content-main-left .tittle p a:hover {
        color: #27baf4;
    }

    .content-Deskop .content .content-main .content-main-between .image {
        width: 100%;
        margin-left: 1em;
    }

    .content-Deskop .content .content-main .content-main-between .image img {
        width: 100%;
        margin-left: 0.7em;
    }

    .content-Deskop .content .content-main .content-main-between .tittle {
        width: 100%;
        margin-left: 1.8em;
    }

    .content-Deskop .content .content-main .content-main-between .tittle a {
        text-decoration: none;
        color: black;
    }

    .content-Deskop .content .content-main .content-main-between .tittle a:hover {
        color: #27baf4;
    }

    .content-Deskop .content .content-main .content-main-right .tittle h3 {
        width: 80%;
        margin-left: 1.5em;
    }

    .content-Deskop .content .content-main .content-main-right .tittle a {
        color: black;
        text-decoration: none;
    }

    .content-Deskop .content .content-main .content-main-right .tittle a:hover {
        color: #27baf4;
    }

    .content-Deskop .content .content-main .content-main-right .image {
        width: 90%;
    }

    .content-Deskop .content .content-main .content-main-right .image img {
        width: 100%;
        margin-left: 1.5em;
    }

    .list-for-you-deskop {
        width: 100%;
        height: 295px;
        display: flex;
    }

    .list-for-you-deskop .list-for-you-left {
        width: 12%;
        height: 200px;
        float: left;
    }

    .list-for-you-deskop .list-for-you-between {
        width: 76%;
        height: 200px;
        float: left;
    }


    .mutilmedia-deskop {
        width: 100%;
        /* height: 200px; */
        display: flex;
    }

    .mutilmedia-left {
        width: 10%;
        float: left;
    }

    .mutilmedia-between {
        width: 80%;
        background-color: #ffde76;
        float: left;
    }

    .mutilmedia-between .header {
        background-color: #ffde76;
        display: flex;
        width: 100%;
    }

    .mutilmedia-between .header .logo {
        width: 10%;
        margin-top: 1.8em;
        margin-left: 1.8em;
    }

    .mutilmedia-between .header .list-menu {
        width: 90%;
    }

    .mutilmedia-between .header .list-menu ul {
        background-color: #ffde76;
        margin-left: 4.8em;
        width: 100%;
    }

    .mutilmedia-between .header .list-menu ul li {
        background-color: #ffde76;
        margin-top: 1.5em;
        font-family: font_black;
        padding-left: 2em;
        text-align: center;
        list-style-type: none;
        float: left;
    }

    .mutilmedia-between .header .list-menu ul li a {
        text-decoration: none;
        color: black;
    }

    .mutilmedia-between .header .list-menu ul li a:hover {
        color: red;
    }

    .mutilmedia-between .content-mutilmedia {
        margin-left: 1.8em;
        margin-top: 2.3em;
        margin-right: 1.8em;
        display: flex;
    }


    .content-mutilmedia .content-big {
        width: 100%;
        position: relative;
        display: flex;

    }

    .content-mutilmedia .content-big .image {
        width: 53.5%;
        height: 100%;
        background-color: white;
    }

    .content-mutilmedia .content-big .image img {
        width: 100%;
        height: 100%;
    }

    .content-mutilmedia .content-big .tittle h1 {
        width: 40%;
        max-height: 40%;
        color: white;
        font-family: font_strong;
        overflow: hidden;
        text-overflow: ellipsis;
        position: absolute;
        padding-left: 0.1em;

        bottom: 0;
        left: 0;
    }

    .content-mutilmedia .content-big .tittle h1 a {
        text-decoration: none;
        color: white;
    }

    .content-mutilmedia .content-big .tittle h1 a:hover {
        color: lightblue;
    }

    .content-mutilmedia .content-small-one {
        float: left;
    }

    .content-mutilmedia .content-small-one {
        width: 26%;
        margin-left: 1.5em;
    }

    .content-mutilmedia .content-small-one img {
        width: 100%;
        height: 70%;
    }

    .content-mutilmedia .content-small-one p {
        font-family: font_normal;
        font-size: 1em;
        padding: 0.2em;
        margin: 0;
    }

    .content-mutilmedia .content-small-one p a {
        text-decoration: none;
        color: black;
    }

    .content-mutilmedia .content-small-one p a:hover {
        color: #27baf4;
    }

    .content-small-two {
        margin-top: 2em;
        margin-right: 1.8em;
        margin-left: 1.8em;
        margin-bottom: 1.8em;
        display: flex;
    }

    .content-small-two .image {
        width: 25%;
        min-height: 200px;
        float: left;
        margin-right: 1.5em;

    }

    .content-small-two .image img {
        width: 100%;
        height: 100%;
        float: left;
    }

    .content-small-two .image .image-child {
        width: 100%;
        height: 80%;
    }

    .content-small-two .image p {
        font-family: font_normal;
        font-size: 1em;

    }

    .content-small-two .image p a {
        text-decoration: none;
        color: black;
    }

    .content-small-two .image p a:hover {
        color: #27baf4;
    }


}

/* Tablet  */
@media only screen and (max-width:1170px) and (min-width: 767px) {
  .header-Deskop, .header-Mobile {
    display: none;
}

.content-mobile, .content-Deskop {
    display: none;
}

.list-for-you-deskop, .mutilmedia-deskop, .menu-Mobile {
    display: none;
}

.header-Tablet{
    width: 100%;
    height: 3em;
    display: flex;
}

.header-Tablet .menu {
    width: 30%;
    height: 100%;
    float: left;
}

.header-Tablet .logo {
    width: 40%;
    height: 100%;
    float: left;
    text-align: center;
}

.header-Tablet .info {
    width: 30%;
    height: 100%;
    float: left;
    text-align: right;
}

.header-Tablet .info img {
    width: 10%;
    height: 60%;
    margin-top: 0.5em;
    margin-right: 0.5em;
}

.header-Tablet .menu p {
    font-size: 2em;
    margin: 0;
    padding-left: 0.5em;
}

.content-Tablet {
    margin: 2.5em 2em;
    float: left;

}

.content-Tablet .content {
    margin: 2.5em 2em;
    display: flex;

}

.content-Tablet .content .content-big {
    width: 55%;
    float: left;
}

.content-Tablet .content .content-big .big {
    width: 100%;
}

.content-Tablet .content .content-big .big img {
    width: 100%;
}

.content-Tablet .content .content-big .big h1 {
    font-family: font_strong;
    margin: 0;
    padding-top: 0.3em;
}

.content-Tablet .content .content-small {
    width: 45%;
    float: left;
    padding-left: 1.5em
}

.content-Tablet .content .content-small .small {
    width: 100%;
    float: left;
}

.content-Tablet .content .content-small .small .image {
    width: 35%;
    height: 100%;
    float: left;
    padding-bottom: 1em;
    padding-top: 0.8em;
}

.content-Tablet .content .content-small .small .image img {
    width: 100%;

}

.content-Tablet .content .content-small .small p {
    margin: 0;
    padding-left: 0.5em;
    font-family: font_normal;
}

.content-Tablet .content .content-small .small .tittle {
    width: 60%;
    float: left;
}

.content-Tablet .list-for-you {
    width: 100%;
    height: 12rem;
    clear: left;
}

.list-for-you ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.list-for-you ul li {
    width: 17%;
    height: 100%;
    list-style-type: none;
    float: left;
    margin-left: 0.8em;
    background-color: #f7f7f7;
    overflow: hidden;
}
.list-for-you ul li .list {
    width: 100%;
    height: 100%;
}

.list-for-you ul li .list .image {
    width: 100%;
    height: 50%;
}

.list-for-you ul li .list .image img {
    width: 100%;
    height: 100%;
}

.list-for-you ul li .list p {
    width: 100%;
    margin-top : 0.3em;
}

.content-Tablet .mutilmedia {
    margin-top: 2.5em;
    margin-left: 1em;
    margin-right: 1em;
    background-color: #ffde76;
    /* height: 200px;*/
}

.content-Tablet .mutilmedia .logo {
    padding: 2em 1.8em 1em 1.8em;
    background-color: #ffde76;
}

.content-Tablet .mutilmedia .content-big {
    margin: 1em 1.8em 1em 1.8em;
    position: relative;

}

.content-Tablet .mutilmedia .content-big img{
    width: 100%;
}

.content-Tablet .mutilmedia .content-big h1 {
    position: absolute;
    bottom: 0;
    left: 1.5em;
    color: white;
}

.mutilmedia .content-small {
    margin: 1.5em 1.8em;
    display: flex;

}



 .mutilmedia .content-small .content-small-left {
    width: 50%;
    float: left;
   
  
}

 .mutilmedia .content-small .content-small-left .post {
    width: 100%;
    clear: both;
 }

.mutilmedia .content-small .content-small-left .post .image {
    width: 40%;
    height: 100%;
    float: left;
  }

.mutilmedia .content-small .content-small-left .post .image img {
    width: 100%;
    margin-bottom: 1em;
  }

.mutilmedia .content-small .content-small-left .post .tittle {
    width: 60%;
    height: 100%;
    float: left;
   }

.mutilmedia .content-small .content-small-left .post .tittle p {
     margin: 0 0 0 1em;
}

.mutilmedia .content-small .content-small-right {
    width: 50%;
    height: 200px;
    margin-left: 0.5em;
    float: right;
}

.mutilmedia .content-small .content-small-right .post {
    width: 100%;
    clear: both;
 }

.mutilmedia .content-small .content-small-right .post .image {
    width: 40%;
    height: 100%;
    float: left;
  }

.mutilmedia .content-small .content-small-right .post .image img {
    width: 100%;
    margin-bottom: 1em;
  }

.mutilmedia .content-small .content-small-right .post .tittle {
    width: 60%;
    height: 100%;
    float: left;
   }

.mutilmedia .content-small .content-small-right .post .tittle p {
     margin: 0 0 0 1em;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
   color: #27baf4;
}

}